[x-cloak] {
	display: none !important;
}

.sortable-ghost {
	opacity: .55 !important;
}

body.sorting .card-hover {
	pointer-events: none;
}

.timeline-card {
	touch-action: none;
}

.timeline-dragging {
	cursor: grabbing;
	user-select: none;
}
